.btn {
    display: inline-block;
    vertical-align: middle;
    border: 0;
    outline: none;
    padding: 1.5rem 3rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: all .2s;
    &--gray {
        background-color: $cl-gray-dark;
        &:hover {
            background-color: $cl-primary;
        }
    }
    &--primary {
        background-color: $cl-primary;
        &:hover {
            color: $cl-gray;
        }
    }
    &--rounded {
        border-radius: 5rem;
    }
    &--icon i {
        margin-left: 1rem;
        color: inherit;
    }
} 


.btn__play-video {
    &:link,
    &:visited {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    & > i {
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5rem;
        background-color: #fcf5ee;
        color: $cl-primary;
        margin-right: 10px;
    }
    & > span {
        color: $cl-gray-light;
        font-size: 1.4rem;
        transition: all .2s;
    }
    &:hover > span {
        color: $cl-primary;
    }
}