.heading {
    text-align: center;
    &__title {
        font-size: 5rem;
        font-family: 'Rufina';
        margin: 0 0 3rem 0;
        color: $cl-gray-dark;
        @include respond(tablet) {
            font-size: 3rem;
        }
    }
    &__desc {
        font-size: 1.6rem;
        color: $cl-gray-light;
        line-height: 3rem;
        margin-bottom: 7rem;
        font-weight: 300;
        padding: 0 2rem;
        @include respond(tablet) {
            font-size: 1.4rem;
        }
    }
}